h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 2.8em;
	text-align: center;
}
body {
	background-color: #0D0D0E;
	color: floralwhite;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
	border-bottom: 1px solid #d1d3d5;
	padding: 0%;
}
.navbar .container {
	align-items: center;
	display: flex;
	justify-content: center;
}
.navbar-nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0%;
}
.navbar-nav .nav-item {
	color: floralwhite;
	margin: 1.6em;
}
.nav-link {
	text-decoration: none;
}
.navbar-brand {
	text-decoration: none;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
}
/* Slides
========================================================================== */
.banner {
	height: 549px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	width: 1200px;
}
.wrapper {
	animation: slide 16s infinite;
	display: flex;
	width: 100%;
}
img {
	padding-top: 1.5em;
	width: 100%;
}
@keyframes slide {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(0);
	}
	30% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(-100%);
	}
	55% {
		transform: translateX(-200%);
	}
	75% {
		transform: translateX(-200%);
	}
	80% {
		transform: translateX(-300%);
	}
	100% {
		transform: translateX(-300%);
	}
}
h2 {
	padding-bottom: 2em;
	padding-top: 2em;
	text-align: center;
}
h5, .author {
	text-align: center;
}
.column {
	flex: 50%;
	padding: 10em;
}
footer {
	background-color: #0D0D0E;
	border-top: 1px solid #d1d3d5;
	padding-top: 16px;
}
h3 {
	font-size: 30px;
	padding-left: 1em;
	padding-top: 1em;
}
.col-5 {
	padding-top: 2em;
}
.container .row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5rem;
}
.jumbotron h1 {
	background-color: #ffffff;
	bottom: 0;
	color: #0D0D0E;
	margin: .5em;
	padding: .25em .5em;
	position: absolute;
}
p {
	display: block;
	margin-block-end: 1em;
	margin-block-start: 1em;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
}
.vl {
	border-left: 1px solid antiquewhite;
	height: 100px;
	left: 50%;
	margin-left: -3px;
	position: absolute;
	top: 20em;
}
.vl-text {
	padding-left: 5em;
	text-align: left;
}
.vl-text-l {
	padding-left: 5em;
	padding-top: 9em;
}
.gif {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0em;
	width: 95%;
}

.new-post {
	padding-left: 1em;
	padding-right: auto;
	padding-top: 3em;
}
h4 {
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}
#Newsletter {
	background-image: url(imgs/newsletter2.jfif);
	color: #ffffff;
	opacity: 85%;
}
#Newsletter h1 {
	letter-spacing: 3px;
}
.newslettertext p {
	margin-top: 40px;
	padding-left: 120px;
	padding-right: 120px;
	text-align: center;
}
.emailfield {
	margin-top: 40px;
}
.emailfield-contact {
	padding-right: 10em;
}
form {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
form .button {
	background-color: #949bb9;
	border: none;
	color: #ffffff;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.5px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}
form .button:hover {
	background-color: grey;
	color: #ffffff;
}
h5 {
	padding-left: auto;
	padding-right: auto;
}
